# Node
node_modules
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/sdks
.yarn/patches

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example

# Build
/dist
/build
/.turbo

# OS
.DS_Store

# Vite
**/dist
**/vite.config.ts.timestamp-*

# Prisma / DB
**/*.sqlite
**/*.db
data/

# Coverage
coverage

# Misc
.tmp
